body {
	background-image: url("../img/dash2.png");
	background-repeat: repeat;
	background-attachment: fixed;	
}

/*indended for the container that gets all the content of the page*/
/*main {
	position: fixed;
	top: 20px;
	bottom: 20px;
	left: 0;
	right: 0;
	overflow: auto;
}*/

#site-header {
	position: center;
	border: 1px solid black;
	width: 66%;
	/*margin: 22px 0px 10px 0px auto;*/
	margin: 22px 0px 10px 0px;
	margin-left: 20%;
	margin-right: 20%;
	overflow: auto;
	background-color: white;

	/*shadow*/
	-webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
	/*gradient*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.top-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 22px;
	overflow: auto;

	margin-bottom: 3px;
	/*gradient*/
	background: rgb(4,150,9);
	background: -moz-linear-gradient(top,  rgba(4,150,9,1) 0%, rgba(71,204,86,1) 74%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(4,150,9,1) 0%,rgba(71,204,86,1) 74%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(4,150,9,1) 0%,rgba(71,204,86,1) 74%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#049609', endColorstr='#ffffff',GradientType=0 );
}

div.top-links {
	float: left;
	font-size: 15px;
}

div.top-links a {
	margin: 0px 10px 0px 10px;
	color: white;
	text-decoration: none;
}

div.top-links a:hover {
	color:white;
	background-color: green;
}

div.login {
	float: right;
}

div.login a {
	font-weight: bold;
	color: white;
	text-decoration: none;
	margin: 0px 5px 0px 5px;
}
div.login a:hover {
	background-color: green;
}


#site-logo {
	width: 15%;
	height: 15%;
	/*width: 200px;
	height: 200px;*/
	float: left;
	background-color: white;
	margin: 5px;
	/*radius*/
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}


div.header {
	margin-left: 50px;
	float: left;
}

main {	
	width: 50%;
	margin: 0 auto;
}

div.toolbar {	
	text-align: center;
	margin-bottom: 5px;
	height: 50px;
	/*gradient*/
	background: rgb(237,237,237);
	background: -moz-linear-gradient(top,  rgba(237,237,237,1) 0%, rgba(83,188,90,1) 32%, rgba(39,165,19,1) 50%, rgba(39,165,19,1) 61%, rgba(234,234,234,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(83,188,90,1) 32%,rgba(39,165,19,1) 50%,rgba(39,165,19,1) 61%,rgba(234,234,234,1) 100%);
	background: linear-gradient(to bottom,  rgba(237,237,237,1) 0%,rgba(83,188,90,1) 32%,rgba(39,165,19,1) 50%,rgba(39,165,19,1) 61%,rgba(234,234,234,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#eaeaea',GradientType=0 );
	/*radius*/
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

img.top-navigation {
	width: 40px;
	height: 40px;
}

img.icon {
	width: 10px;
	height: 10px;
}

.tooltip {
	background: -moz-radial-gradient(center, ellipse cover,  rgba(247,247,247,1) 0%, rgba(247,247,247,0.66) 25%, rgba(247,247,247,0.31) 46%, rgba(247,247,247,0.28) 48%, rgba(247,247,247,0) 65%);
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(247,247,247,1) 0%,rgba(247,247,247,0.66) 25%,rgba(247,247,247,0.31) 46%,rgba(247,247,247,0.28) 48%,rgba(247,247,247,0) 65%);
	background: radial-gradient(ellipse at center,  rgba(247,247,247,1) 0%,rgba(247,247,247,0.66) 25%,rgba(247,247,247,0.31) 46%,rgba(247,247,247,0.28) 48%,rgba(247,247,247,0) 65%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#00f7f7f7',GradientType=1 );

	position: relative;
	display: inline-block;
	width: 10%;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.tooltip a {
	background: -moz-radial-gradient(center, ellipse cover,  rgba(247,247,247,1) 0%, rgba(247,247,247,0.66) 25%, rgba(247,247,247,0.31) 46%, rgba(247,247,247,0.28) 48%, rgba(247,247,247,0) 65%);
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(247,247,247,1) 0%,rgba(247,247,247,0.66) 25%,rgba(247,247,247,0.31) 46%,rgba(247,247,247,0.28) 48%,rgba(247,247,247,0) 65%);
	background: radial-gradient(ellipse at center,  rgba(247,247,247,1) 0%,rgba(247,247,247,0.66) 25%,rgba(247,247,247,0.31) 46%,rgba(247,247,247,0.28) 48%,rgba(247,247,247,0) 65%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#00f7f7f7',GradientType=1 );
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 1s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {	
	visibility: visible;
	opacity: 1;
}

.tooltip:hover {
	background-color: #003300;
}

div.dropdown-content {
	padding: 0px 12px 8px 12px;
	display: none;
	position: absolute;
	/*radius*/
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	/*gradient*/
	background-image: -ms-linear-gradient(left, #E5E8E4 0%, #36CF4F 30%, #36CF4F 60%, #e5e8e4 100%);
	background-image: -moz-linear-gradient(left, #E5E8E4 0%, #36CF4F 30%, #36CF4F 60%, #e5e8e4 100%);
	background-image: -o-linear-gradient(left, #E5E8E4 0%, #36CF4F 30%, #36CF4F 60%, #e5e8e4 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #E5E8E4), color-stop(30, #36CF4F), color-stop(60, #36CF4F), color-stop(100, #e5e8e4));
	background-image: -webkit-linear-gradient(left, #E5E8E4 0%, #36CF4F 30%, #36CF4F 60%, #e5e8e4 100%);
	background-image: linear-gradient(to right, #E5E8E4 0%, #36CF4F 30%, #36CF4F 60%, #e5e8e4 100%);


margin-left: 5px;
}
div.dropdown-content a {
	text-decoration: none;
	display: block;
	color: green;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
div.dropdown-content a:hover {
	background-color: #003300;
	color: white;
}
div.dropdown-content:hover {
	background-color: black;
}
.tooltip:hover .dropdown-content {
	display: block;
}



div.container {
	margin: auto;
	width: 90%;
	padding: 10px;

	overflow: auto;
	border: 1px solid black;
	margin-top: 15px;
	margin-bottom: 15px;
	/*radius*/
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/*shadow*/
	-webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
	/*gradient*/
	background: rgb(234,234,234);
	background: -moz-linear-gradient(top,  rgba(234,234,234,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(234,234,234,1) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 );
}

div.container>h3 {
	padding: 2px;
	margin: 3px;
	margin-bottom: 10px;
	/*border: 1px solid black;*/
	width: 20%;
	text-align: center;
	/*radius*/
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/*gradient*/
	background: rgb(196,196,196);
	background: -moz-linear-gradient(top,  rgba(196,196,196,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(196,196,196,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(196,196,196,1) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c4c4', endColorstr='#ffffff',GradientType=0 );
	/*shadow*/
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
}

input.date {
	-webkit-appearance: textfield;
	background-color: white;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	cursor: auto;
	padding: 1px;
	border-width: 2px;
	border-style: inset;
	border-color: initial;
}

div.element {
	margin: 5px;
	border: 1px solid black;
	float: left;
	padding: 10px;
}
div.element>h4 {
	display: inline-block;
	margin: 3px;
}

table.expenses {
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid black;
	border-collapse: separate;
    border-spacing: 3px 3px;
    margin: 5px;
}

aside.info {
	float: right;
	padding-right: 30px;
}

table.expenses td, table.expenses th {
	border: 1px solid black;	
}


table.userlist {
	/*padding: 5px;
	margin: 5px;*/
	border-spacing: 10px;
	text-align: center;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-collapse: collapse;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

table.userlist tr {
	padding: 5px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-collapse: collapse;
}
table.userlist a {
	color: black;
}
table.userlist a:hover {
	color: white;
	background-color: black;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 20px;
	/*gradient*/
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(71,204,86,1) 40%, rgba(4,150,9,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(71,204,86,1) 40%,rgba(4,150,9,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(71,204,86,1) 40%,rgba(4,150,9,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#049609',GradientType=0 );

}

label, input {
	display: inline-block;
	margin: 1px;
}
label {
	width: 20%;
}
input {
	width: 25%;
}

p.eula {
	margin: 20px;
	font-size: 1.08em;
}

table.user td {
	padding: 0px 10px 5px 0px;
}

span.warn {
	display: inline-block;
	font-size: 1em;
	font-weight: bold;
	color: red;
	background-color: #f2f2f2;
	padding: 2px;
	margin: 2px;
	border: 1px solid black;
	/*radius*/
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	/*shadow*/
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
}

span.edit {
	display: inline-block;
	float: right;
	padding: 1px;
	border: 1px solid black;
	/*radius*/
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	margin-left: 2px;
}

form.yes {
	display: inline-block;
	float: left;
	margin-left: 10px;
}

span#user-warning, span#password-warning, span#fname-warning, span#lname-warning, span#city-warning span#general-warning {
	color: red;
}