@import 'variables';

body {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: #eaeaea;
}

#top-spacer {
  width: 100%;
  height: 70px;
}
#bottom-spacer {
  width: 100%;
  height: 20px;
}

.black-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

#black-lvl-1 {
  z-index: $lowest-z-index;
}
.modal-lvl-1 {
  z-index: $low-z-index;
}
#black-lvl-2 {
  z-index: $med-z-index;
}
.modal-lvl-2 {
  z-index: $med-plus-z-index;
}
#black-lvl-3 {
  z-index: $high-z-index
}
.modal-lvl-3 {
  z-index: $highest-z-index;
}

#loading-black {
  z-index: $loading-z-index;
  background-color: rgba(0, 0, 0, 0.7);
}

#loading-message {
  display: none;
  position: fixed;
  top: 45%;
  left: 45%;
  z-index: $loading-text-z-index;
  background-color: #fff;
  span {
    display: inline-block;
    background-color: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
  }

}

#delete-confirm {
  display: none;
  position: fixed;
  z-index: $high-z-index;
  top: 25%;
  left: 34%;
  width: 28%;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 3px 3px 3px #045c06;
  padding: 15px;
  font-size: 1.3em;

  span {
    display: block;
  }
  span.confirm-close {
    position: absolute;
    top: 3%;
    right: 1%;
    padding: 2px;
    border-radius: 2px;
    cursor: pointer;
  }

  button {
    height: 1.5em;
    width: 4em;
    font-size: 0.9em;
    color: white;
    font-weight: bold;

    &.delete-yes {
      background-color: red;
    }
    &.delete-no {
      background-color: $button-color;
    }
  }
}

.top-bar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  background: $main-color;
  box-shadow: 2px 2px 4px #005903;


  .site-logo {
    img {
      height: 50px;
      width: 50px;
      margin: 5px;
    }
  }

  div.toolbar {
    text-align: center;

    a {
      font-size: 1.7em;
      text-decoration: none;
      line-height: 65px;
      color: black;
      background-color: white;
      padding: 5px;
      border-radius: 3px;
      margin-left: 10px;

      &:hover {
        background-color: #b8eea1;
      }

      &:active {
        background-color: #429b49;
        color: white;
        border: 1px solid white;
      }
    }
  }

  .login {
    font-size: 1.5em;
    padding: 10px;

    a {
      display: inline-block;
      position: relative;
      font-weight: bold;
      color: white;
      padding: 5px;
      text-decoration: none;
      margin: 0 5px 0 5px;
      border-radius: 2px;

      .tooltip {
        display: none;
        background-color: white;
        color: green;
        font-size: 0.74em;
        padding: 3px;
        position: absolute;
        top: -10px;
        right: 7px;
        line-height: 1em;
      }

      &:hover {
        background-color: green;
        .tooltip {
          display: block;
        }
      }
    }
  }
}

.main-content {
  width: 65%;
  height: 1000px;
  margin: 0 auto;
  padding-top: 15px;
  background-color: #e2eee3;
}


div.container {
  width: 80%;
  background-color: #ededed;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 2px 2px 4px #005903;
  margin: 0 auto 20px;


  h3 {
    display: inline-block;
    padding: 5px;
    margin: 3px 3px 10px;
    background-color: $main-color;
    color: white;
    border-radius: 3px;
  }

  .element {
    margin: 5px;
    padding: 10px;
    border-top: 1px solid #e5fcdf;
    border-left: 1px solid #e5fcdf;
    box-shadow: 1px 1px 2px #008d03;

    &>h4 {
      display: inline-block;
      margin: 3px;
    }
    
    &:hover {
      background-color: #d1dbd0;
    }
  }
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}

table.expenses {
  width: 100%;
  border-collapse: collapse;
  margin: 5px;

  th,td {
    padding-left: 10px;
    text-align: left;
  }
  
  th {
    background-color: #649f70;
    color: white;
  }
  
  tr {
    &:nth-child(odd) {
      background-color: #fff;
    }
    &:nth-child(even) {
      background-color: #eee4e4;
    }
    &:hover {
      background-color: #94c898;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  background-color: $main-color;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#account-edit-form {
  fieldset {
    margin-bottom: 5px;
  }
  #fieldset-user {
    background-color: #e7f4e4;
    border: 1px solid #8e998e;
    legend {
      color: #474d47;
    }
  }
  #fieldset-userdata {
    background-color: #f0e9e9;
    border: 1px solid #948e8e;
    legend {
      color: #3d3838;
    }
  }

  .form-wrapper {
    display: flex;

    input,label {
      font-size: 1.3em;
      margin-bottom: 6px;
      border-radius: 2px;
    }

    label {
      width: 40%;
    }

    button {
      height: 2.5em;
      width: 7.5em;
      font-size: 1.1em;
      background-color: $button-color;
      color: white;
      font-weight: bold;
    }
  }
}

#user-login-modal {
  display: none;
  position: fixed;
  top: 30%;
  left: 30%;
  padding: 20px;
  z-index: $med-z-index;
  background-color: white;
  box-shadow: 2px 2px 2px black;
  width: 30%;
  border-radius: 5px;

  h3 {
    display: inline-block;
    margin: 0 0 10px 0;
    padding: 1px 5px;
    border-radius: 2px;
    background-color: $main-color;
  }

  form {


    input{
      width: 75%;
      height: 30px;
      margin-bottom: 10px;
      border-radius: 3px;
    }

    button {
      height: 2.5em;
      width: 7.5em;
      font-size: 1.1em;
      background-color: $button-color;
      color: white;
      font-weight: bold;
    }
  }
}

#user-register-modal {
  display: none;
  position: fixed;
  top: 15%;
  left: 35%;
  padding: 20px;
  z-index: $med-z-index;
  background-color: white;
  box-shadow: 2px 2px 2px black;
  width: 25%;
  border-radius: 5px;

  h3 {
    display: inline-block;
    margin: 0 0 10px 0;
    padding: 1px 5px;
    border-radius: 2px;
    background-color: $main-color;
  }
}

p.eula {
  margin: 20px;
  font-size: 1.08em;
}


span.warn {
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  color: red;
  background-color: #f2f2f2;
  padding: 2px;
  margin: 2px;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.75);
}

span.success {
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  color: green;
  background-color: #f2f2f2;
  padding: 2px;
  margin: 2px;
  border: 1px solid black;
  /*radius*/
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  /*shadow*/
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
}

span#user-warning, span#password-warning, span#fname-warning, span#lname-warning, span#city-warning span#general-warning {
  color: red;
}

.hidden {
  display: none;
}
.low-z-index {
  z-index: $low-z-index
}
.med-z-index {
  z-index: $med-z-index;
}
.med-plus-z-index {
  z-index: $med-plus-z-index;
}
.high-z-index {
  z-index: $high-z-index;
}
.highest-z-index {
  z-index: $highest-z-index;
}
.ultra-z-index {
  z-index: $ultra-z-index;
}