@import 'variables';

form {
  .form-wrapper {
    display: flex;

    input,label,select,textarea {
      font-size: 1.3em;
      margin-bottom: 6px;
      border-radius: 2px;
    }

    label {
      width: 30%;
    }
    select{
      width: 16.4em;
    }
    input {
      width: 16em;
    }
    textarea {
      width: 32.4em;
      height: 6em;
    }

    button {
      height: 2.5em;
      width: 10em;
      font-size: 1.1em;
      background-color: $button-color;
      color: white;
      font-weight: bold;
    }
  }
}