@import 'variables';

.flex-wrapper {
  flex-direction: row;
}

.user-summary {
  width: 60%;
  font-size: 1.1em;
  .label {
    width: 20%;
  }
}

#user-form-modal {
  display: none;
  position: fixed;
  top: 20%;
  left: 35%;
  width: 20%;
  background-color: white;
  padding: 10px;
  box-shadow: 2px 2px 2px green;

  h3 {
    display: inline-block;
    margin: 5px 10px;
    padding: 5px;
    background-color: $main-color;
    color: white;
    border-radius: 3px;
  }
}

.user-modify-actions {
  a {
    position: relative;
    font-size: 1.6em;
    cursor: pointer;
    border-radius: 2px;
    padding: 2px;

    .profile-tooltip {
      display: none;
      position: absolute;
      white-space: nowrap;
      font-size: 0.5em;
      color: white;
      padding: 2px;
      box-shadow: 1px 1px 3px black;
      &.profile-edit {
        background-color: green;
        top: -105%;
        right: 40%;
      }
      &.profile-delete {
        background-color: red;
        top: -105%;
        right: -105%;
      }
    }

    &#edit-user {
      color: green;

      &:hover {
        .profile-edit {
          display: inline-block;
        }
      }
    }
    &#delete-user {
      color: red;

      &:hover {
        .profile-delete {
          display: inline-block;
        }
      }

    }


  }
}